.image-container {
    position: relative;
    display: inline-block;
    justify-content: center;
    align-items: center;
}
.image-container img {
    display: block;
    justify-content: center;
    align-items: center;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent overlay */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
