*{
    margin:0;
    padding:0;
}
body {
    -ms-overflow-style: none; /*스크롤 없애는 css*/
    text-align: center;
}
/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 10%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #fff; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }

  /* Style page content */
  .main {
    margin-left:160px; /* Same as the width of the sidebar */
    padding: 0px 0px;
  }
  /* 커플이미지 css */
  .couple_img{
    margin:0;
    padding:0;
  }
  /* 커플 이미지 */
  .coupleimg{
    margin-left: 3%;
    width:100%;
    height:40%;
    object-fit: "object-fit";
  }
  
/*스크롤 없애는 css*/
::-webkit-scrollbar {
    display: none; 
}

/* 배경 이미지  */
.my_bg {    
  background-image: url("../public/asset/Bgimg.png");    
  background-repeat: no-repeat;  
  background-size : auto;  
  background-position: center;
}

/* 다이어리 부분 */
.dairy{
  margin-top: 5%;
  width: 60vw;
  height:80vh;
  left:500px;
  background-color: pink;
  z-index: 4;
  position: fixed;
  border-radius: 2%;
}